*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--title-font);
}

body{
    /*background-color: #0D1014;*/
    --title-green : #A3E635;
    --input-background-color: #171B20;
    --title-font: 'Inter', sans-serif;
    --light-gray: #DBDCE1;
    --title-fs: 25px;
    --text-fs: 18px;
    --input-fs:22px;
    background-color: #0D1014;
}

/*STRUCTURE*/

.main-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    height: 100vh;
}

/*TITLE*/

.section-title{
    text-align: start;
    color: var(--title-green);
    font-size: var(--title-fs);
}

/*FORM*/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.main-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
    padding: 0 10px;
}

.form-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;
}

.input-style{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: var(--input-background-color);
    border: 1px solid #707177;
    border-radius: 10px;
    padding: 15px 15px;
    gap:0.8rem;
}

.input-style-title{
    text-wrap: nowrap;
    color: var(--light-gray);
    font-size: var(--text-fs);
}

.input-style-section{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.input-style-section input{
    width: 80%;
}

.input-style-input{
    flex-grow: 1;
    font-size: var(--input-fs);
    background-color: #13161B;
    color: var(--title-green);
    /*border: 1px solid #707177;*/
    /*border-radius: 5px;*/
    border: none;
    padding: 5px 10px;
}

.barbell-weight-input{
    /*position: relative;*/
}

#barbellWeightSelect{
    appearance: none;
    border-radius: 0;
    /*padding: 5px 20px;*/
}

#select-arrow{
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-bottom: 3px solid var(--title-green);
    border-right: 3px solid var(--title-green);
    transform: rotate(45deg);
    pointer-events: none;
    position: absolute;
    right: 70px;
    bottom: 17px;
}

.input-style-section span{
    color: #707177;
    font-size: var(--text-fs);
}

.form-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.form-button button{
    width: 100%;
    color: inherit;
    font-size: var(--title-font);
    padding: 15px;
    font-weight: 600;
    background-color: var(--title-green);
    border: none;
    border-radius: 5px;
}

/*RESULTS*/

.main-results{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.results-title{
    width: 100%;
    text-align: start;
}

.results-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;
    padding: 10px 40px;
    margin-top: 1.5rem;
    flex-grow: 1;
    overflow: scroll;
}

.result-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    gap: 1rem;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: #1B1F25;
    color: #ffffff;
}

.card-head{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}

.header-title{
    width: 100%;
    color: var(--title-green);
    font-size: var(--title-fs);
    font-weight: 200;
}

.header-number{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--title-green);
}

.span-number{
    font-size: 28px;
    font-weight: 800;
}

.span-percent{
    font-size:20px ;
    color: var(--title-green);
    font-weight: 400;
}

.span-pr{
    font-size:24px ;
    color: var(--light-gray);
    font-weight: 600;
}

.card-body{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;
    padding: 15px 0;
    border: 1px solid rgb(112 113 119 / 0.14);
    border-left: none;
    border-right: none;
}

.body-title{
    color: var(--title-green);
    font-size: var(--text-fs);
}

.body-weight{
    font-size: 20px;
    font-weight: 600;
    color: var(--light-gray);
}

.card-plates{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;
    padding: 15px;
    background-color: #2F3439;
    border-radius: 10px;
}

.plates-title{
    color: var(--title-green);
    font-size: var(--text-fs);
}

.plates-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.plates-grid{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1.2rem;
}

.plate-weight{
    font-size: var(--text-fs);
    justify-self: center;
    color: var(--light-gray);
}

.plate-quantity{
    font-size: var(--text-fs);
    color: var(--title-green);
    font-weight: 600;
    justify-self: center;
}

.card-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-title{
    color: var(--title-green);
    font-size: var(--text-fs);
    font-weight: 200;
}

.footer-remaining{
    font-size: var(--text-fs);
    color: var(--light-gray);
}

.plate {
    position: relative;

    width: 40px;
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    box-shadow:
            inset 0 4px 7px rgba(255, 255, 255, 0.16),
            inset 0 -7px 12px rgba(0, 0, 0, 0.28),
            0 3px 6px rgba(0, 0, 0, 0.25);
    justify-self: center;
}

.plate::before {
    content: "";

    position: absolute;
    top: 10%;
    left: 20%;

    width: 60%;
    height: 22%;

    border-radius: 50%;

    background: rgba(255, 255, 255, 0.1);
    filter: blur(5px);

    pointer-events: none;
}

/* 45 lb */
.plate-blue {
    border: 3px solid #5E9BDF;

    background: radial-gradient(
            circle at 30% 25%,
            #5E9BDF 0%,
            #3979BD 38%,
            #215997 72%,
            #174577 100%
    );
}

/* 35 lb */
.plate-yellow {
    border: 3px solid #FFE36B;

    background: radial-gradient(
            circle at 30% 25%,
            #FFE36B 0%,
            #FFD60A 38%,
            #D9B300 72%,
            #A78300 100%
    );
}

/* 25 lb */
.plate-green {
    border: 3px solid #55D784;

    background: radial-gradient(
            circle at 30% 25%,
            #55D784 0%,
            #00A651 38%,
            #008B43 72%,
            #005F2D 100%
    );
}

/* 15 lb / 5 lb / 2.5 lb */
.plate-black {
    border: 3px solid #676767;

    background: radial-gradient(
            circle at 30% 25%,
            #4A4A4A 0%,
            #2F2F2F 38%,
            #1F1F1F 72%,
            #090909 100%
    );
}

/* 10 lb */
.plate-gray {
    border: 3px solid #BEBEBE;

    background: radial-gradient(
            circle at 30% 25%,
            #CFCFCF 0%,
            #A7A7A7 38%,
            #7A7A7A 72%,
            #555555 100%
    );
}

.plate-center {
    position: relative;
    z-index: 1;

    width: 30%;
    aspect-ratio: 1;

    border: 4px solid #686868;
    border-radius: 50%;

    background: radial-gradient(
            circle at 35% 30%,
            #f4f4f4 0%,
            #d8d8d8 48%,
            #ababab 78%,
            #858585 100%
    );

    box-shadow:
            inset 0 2px 3px rgba(255, 255, 255, 0.65),
            inset 0 -3px 4px rgba(0, 0, 0, 0.3),
            0 1px 3px rgba(0, 0, 0, 0.35);
}


